body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNJwO2bJzzu6mdHGeZYCpYfXX7UhC_5jpMNQ&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    color:darkblue;
    font-size: large;
    font-weight: bolder;
    font-family: 'Bodoni Moda', serif;

}
table,tr,td,th{
    border:3px solid cyan;;
    text-align: center;
}
table{
    margin-top: 50px;
    margin-left: 190px;
    width:750px;
    height:150px;
}
td,th{
    padding:5px;
    color:black;
}
td{
    font-size: large;
    font-weight: bolder;
}
h1{
    text-align: center;
    margin-top: 90px;
}
tr:hover {
    background-color: yellow;
}